<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="welcome-view mosaic-background">
  <div class="main-page">
    <div class="centered-content">
      <h1>Welcome to myFlix!</h1>
      <button
        mat-raised-button
        color="primary"
        (click)="openUserLoginDialog()"
        style="margin-right: 10px;"
        class="login-button"
      >
        Login
      </button>
      <button
        mat-raised-button
        (click)="openUserRegistrationDialog()"
        style="margin-right: 10px;"
        color="primary"
      >
        Sign Up
      </button>
    </div>
  </div>
</body>
</html>