.flex-spacer {
    flex: 1;
}

.app-title {
    font-size: 20px;
    padding: 20px;
}

.button-link {
    display: inline-block;
    text-decoration: none;
    border: none;
    cursor: pointer;  
  }

.menu-button {
    font-size: 20px;
    padding: 20px;
}