.flex-spacer {
    flex: 1;
}

.app-title {
    font-size: 20px;
    padding: 20px;
}

.custom-link {
    text-decoration: none; 
    color: black; 
  }  

.menu-button {
    font-size: 20px;
    padding: 20px;
}