.flex-spacer {
    flex: 1;
}

.nav-bar {
    background-color: rgba(63, 81, 181, 0.8);
    color: white;
    margin-bottom: 20px;
}

.app-title {
    font-size: 20px;
    padding: 20px;
}

.button-link {
    display: inline-block;
    text-decoration: none;
    border: none;
    cursor: pointer;  
  }

.menu-button {
    font-size: 20px;
    padding: 20px;
}