.login-form-content-position {
    align-items: center;
}

.card-title {
    margin-bottom: 20px;
}

.input-field {
    align-items: center;
}

.input-hint {
    font-size: 10px;
    margin-bottom: 20px;
}

  .form-login-button {
    margin-bottom: 10px;
  }