<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration form</title>
</head>

<body>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Sign Up!</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form>
                <mat-form-field subscriptSizing="dynamic" class="input-width">
                    <input matInput [(ngModel)]="userData.Username" placeholder="Username" type="text" name="Username"
                        required>
                        <mat-hint class="input-hint">Username must be at least 5 characters long and contain only alphanumerical
                            characters.
                        </mat-hint>
                </mat-form-field>
                <mat-form-field subscriptSizing="dynamic" class="input-width">
                    <input matInput [(ngModel)]="userData.Password" type="password" placeholder="Password"
                        name="Password" required>
                        <mat-hint class="input-hint">Password can contain alphanumeric and non-alphanumeric characters.
                        </mat-hint>
                </mat-form-field>
                <mat-form-field subscriptSizing="dynamic" class="input-width">
                    <input matInput [(ngModel)]="userData.Email" type="email" placeholder="Email" name="Email" required>
                    <mat-hint class="input-hint">Email must be in the following format : abc@domain.abc. </mat-hint>
                </mat-form-field>
                <mat-form-field subscriptSizing="dynamic" class="input-width">
                    <mat-label>Birthday</mat-label>
                    <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" [(ngModel)]="userData.Birthday" name="birthday" placeholder="Use calendar"
                        [readonly]="true">
                    <mat-hint class="input-hint">Birthday is optional. If you want to add it, pick your birthday from the
                        calendar icon.</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="registerUser()" color="primary">
                Sign Up
            </button>
        </mat-card-actions>
        <div>
            <div>
                <div id="customSignUpErrorPrompt1" class="custom-signup-error-prompt"
                    [ngClass]="{ 'show': showSignUpErrorPrompt1 }">
                    <div class="custom-signup-error-prompt-content">
                        <p>An error occurred while updating your account. Please try again and make sure to
                            follow the directives under each field.</p>
                        <button (click)="closeSignUpErrorPrompt()">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div id="customSignUpErrorPrompt2" class="custom-signup-error-prompt"
                    [ngClass]="{ 'show': showSignUpErrorPrompt2 }">
                    <div class="custom-signup-error-prompt-content">
                        <p>{{ updateErrorMessage }}</p>
                        <button (click)="closeSignUpErrorPrompt()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
</body>

</html>