<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <mat-card>
        <mat-dialog-content>
            <mat-card-title class="director-title">{{ data.Name }}</mat-card-title>
            <mat-dialog-content class="director-details">Biography: {{data.Bio}}</mat-dialog-content>
            <mat-dialog-content class="director-details">Date of birth: {{data.Birth}}</mat-dialog-content>
            <mat-dialog-content class="director-details">Date of death: {{data.Death}}</mat-dialog-content>
        </mat-dialog-content>
    </mat-card>
</body>

</html>