.title-centered {
  text-align: center;
  margin-bottom: 35px;
}

.section-title {
  padding: 5px;
  background-color: rgba(63, 81, 181, 0.3);
}


.user-information {
  font-size: 12px;
  text-align: center;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-gap: 10px; 
}

.mat-form-field {
  width: 100%;
  margin: 0;
}

.input-width {
  width: 250px;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 1080px){
  .input-width {
    width: 200px;
  }
}

.input-hint {
  font-size: 10px;
  margin-bottom: 20px;
}

.position-centered {
  display: flex;
  flex-direction: column;
  align-items: center; 
  height: 100%;
  padding: 25px;
  margin-bottom: 30px;
  text-align: center;
}

.custom-prompt {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    justify-content: center;
    align-items: center;
  }
  
  .custom-prompt-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  .custom-prompt.show {
    display: flex;
  }

  .update-prompt-button-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-top: 20px;
  }
  
  .update-prompt-button {
    margin-right: 10px; 
    margin-left: 10px;
  }

.custom-update-error-prompt{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

.custom-update-error-prompt-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.custom-update-error-prompt.show {
  display: flex;
}

.delete-information{
  font-size: 12px;
  text-align: center;
}


.delete-prompt-button-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  padding-top: 20px;
}

.delete-prompt-button {
  margin-right: 10px; 
  margin-left: 10px;
}

.favorite-movies-title {
  text-align: center;
}

.movie-container {
  overflow-x: auto; 
  overflow-y: hidden; 
}

.card-header-content {
  text-align: center;
  width: 100%;
  display: inline-block;
  padding-bottom: 10px;
}

.movie-title {
  font-weight: 550;
  padding-bottom: 5px;
}

.card-action-content {
  align-items: center; 
  justify-content: space-between; 
}
